/* 
    Document   : asker
    Created on : 2012-5-8, 16:31:47
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

#editorcontainer
{ 
    width: 780px;
    height: 200px; 
    display: none;
}
a:focus
{ 
    outline: none;
}
.slide
{ 
    margin: 0;
    padding: 0;
    background: url(images/btn-slide.gif) no-repeat left top; 
}
.btn-slide 
{ 
    background: url(images/white-arrow.gif) no-repeat right 12px; 
    text-align: center; 
    width: 144px; 
    height: 31px; 
    padding: 10px 10px 0 0; 
    margin: 0; 
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff; 
    text-decoration: none;
}
.active 
{ 
    background-position: right -50px; 
}
.hr0
{
    height:1px; 
    border:none;
    border-top:1px dashed #1E90FF;
}

