/* 
    Document   : bottom
    Created on : 2012-5-8, 20:34:44
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

.bottom{
    text-align: center;
    font-size: 16px;
}

