/* 
    Document   : DisplayQues
    Created on : 2012-5-8, 15:58:35
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

.questionblock
{
    padding:5px 10px; 
    border-radius:10px;
    -moz-border-radius:25px; 
    background-color: #DDDDDD;
    border:2px solid #a1a1a1;
    font: 100% Arial, Helvetica, sans-serif;
}
.questionblock p{
    text-align: center;

}
a{
        text-decoration: none;
}
h3{
    
}

