/* 
    Document   : qansstyle
    Created on : 2012-5-2, 11:06:53
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/
a:focus
{ 
    outline: none;
}
#editorcontainer
{ 
    width: 780px;
    height: 200px; 
    display: none;
}
.slide
{ 
    margin: 0;
    padding: 0;
    background: url(images/btn-slide.gif) no-repeat left top; 
}
.btn-slide 
{ 
    background: url(images/white-arrow.gif) no-repeat right 12px; 
    text-align: center; 
    width: 144px; 
    height: 31px; 
    padding: 10px 10px 0 0; 
    margin: 0; 
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff; 
    text-decoration: none;
}
.active 
{ 
    background-position: right -50px; 
}
.hr0
{
    height:1px; 
    border:none;
    border-top:1px dashed #1E90FF;
}
.hr1
{
    height: 1px;
    border:none;
    border-top:1px solid #a1a1a1;
}
.sign
{
    text-shadow: 2px 2px 2px #00FF00;
    text-align: right;
    font-size: 14px;
}
.level
{
    text-shadow: 5px 5px 5px #FF0000;
    text-align: right;
    font-size: 35px;
}
.questionblock
{
    padding:5px 10px; 
    border-radius:10px;
    -moz-border-radius:25px; 
    background-color: #DDDDDD;
    border:2px solid #a1a1a1;
    font: 100% Arial, Helvetica, sans-serif; 
}
.anwserblock
{
    height: 40px;
    padding:5px 10px; 
    border-radius:10px;
    -moz-border-radius:25px; 
    background-color: #DDDDDD;
    border:2px solid #a1a1a1;
    font: 100% Arial, Helvetica, sans-serif;
    overflow: hidden;
    transition: height 3s;
    -moz-transition: height 3s; /* Firefox 4 */
    -webkit-transition: height 3s; /* Safari and Chrome */
    -o-transition: height 3s; /* Opera */
}
.anwserblock:hover
{
    height: 280px;
}
.anwserblockdis
{
    padding:5px 10px; 
    border-radius:10px;
    -moz-border-radius:25px; 
    background-color: #E9ECA2;
    border:2px solid #a1a1a1;
    font: 100% Arial, Helvetica, sans-serif;
}
.socrecontrol
{
    text-align: right;
}
body 
{
    margin: 0 auto; 
    padding: 0; 
    width: 800px; 
    font: 100% Arial, Helvetica, sans-serif; 
}

